*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #0D1821;
    font-family: 'Poppins', sans-serif;
    color: #F0F4EF;
}

header{
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img{
    height: 48px;
    margin-right: 16px;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

h1, h2{
    margin-bottom: 16px;
}

form input, form button{
    background-color: #BFCC94;
    color: #0D1821;
    margin: 0 8px 32px 0;
    padding: 8px;
    border: none;
    border-radius: 8px;
}

form button{
    background-color: #798A42;
    color: #F0F4EF;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

table{
    margin: 0 auto;
    display: inline-block;
}

table th{
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
}

table td{
    background-color: #BFCC94;
    color: #0D1821;
    border: 2px solid #000;
    border-radius: 4px;
    padding: 8px;
    margin-right: 8px;
    margin-bottom: 16px;
    font-size: 14px;
}

p{
    display: inline-block;
}

.invalid-number{
    background-color: red;
    color: #F0F4EF;
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 4px;
    display: none;
}

.border-invalid{
    border: 3px solid red;
}

a{
    text-decoration: none;
    color: #0D1821;
}